<h1>Welcome to Scratch Golfer!</h1>
<p>Your home for handicap tracking, booking tee times, and improving your golf game</p>

<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Facebook UID: <%= @user.uid %></h2>
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<% end %>
